@font-face {
  font-family: "iconfont"; /* Project id 2658127 */
  src: url('iconfont.woff2?t=1625821024840') format('woff2'),
       url('iconfont.woff?t=1625821024840') format('woff'),
       url('iconfont.ttf?t=1625821024840') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e60d";
}

.icon-caidan:before {
  content: "\e630";
}

.icon-baojing:before {
  content: "\e61c";
}

.icon-weixiu:before {
  content: "\e603";
}

.icon-dianjian:before {
  content: "\e609";
}

.icon-baojing1:before {
  content: "\e835";
}

.icon-jiantouarrow483:before {
  content: "\e602";
}

.icon-jiantou:before {
  content: "\e60b";
}

.icon-shebei:before {
  content: "\e642";
}

.icon-jinji:before {
  content: "\e63e";
}

.icon-wode:before {
  content: "\e613";
}

.icon-zhuye:before {
  content: "\e674";
}

.icon-shebei1:before {
  content: "\ece9";
}

.icon-my:before {
  content: "\e601";
}

.icon-baoxiugray:before {
  content: "\e600";
}

.icon-baojingxian:before {
  content: "\e686";
}

.icon-shebei2:before {
  content: "\e617";
}

.icon-shangchengicon21:before {
  content: "\e619";
}

